<h1 class="clearfix pointer-cursor" id="album-title" {{action 'toggleDisplayAlbums' target='view'}}>
<div class="float-left">{{selectedAlbum.name}}</div>
<div class="float-right"><img src="http://icongal.com/gallery/image/16766/navigate_down.png" /></div>
</h1>
<div class="albums hide">
    <ul class="gallery-albums">
        {{#each}}
        <li {{action 'selectAlbum' this}}>
            <div class="clearfix">
                <div class="float-left">
                    <img src="http://jgallery.jakubkowalczyk.pl/images/thumbs/2.jpg" style="width:50px; height:50px;"/>
                </div>                
                <div class="float-left">
                    <div class="space-left-sm">
                        {{name}}
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
<div class="gallery">
    {{outlet}}
</div>