{{#each}}
<div class="blog-post">
    <div class="clearfix">
        <div class="date-panel float-left">
            <p>{{formatted-date createdOn "MMM DD"}}<span>{{formatted-date createdOn "YYYY"}}</span></p>
        </div>
        <div class="title">
            <div>{{title}}</div>
            <div>
                <div class="category">Under category <span>"{{category.name}}"</span> </div>
            </div>
        </div>
    </div>
    <div class="content">
        <p><abstract>{{abstract}}</abstract></p><div class="readmore"><a href="http://newapassa.com/Deewen/Blog/view/24/Phonegap---How-to-play-local-music-file-in-IOS">[Read more]</a></div>            
    </div>
</div>
<br />
{{/each}}